    <style type="text/css">
        .fas{
            padding: 5%;
            border-radius: 50px;
            font-size: 185%;
        }
        small{color: #fff;}
        .right-indicator .row {
            margin-bottom: 10px;
        }
    </style>
    <div class="container">
        <div class="slide">
                <div class="content" style="height: 120%!important;">
                    <div class="mask-red" style="min-height: 110%;"></div>
                    <img src="images/" alt="">
                    <div class="slider-caption">
                        <td><img src="images/htwBerlin.png" style="width: 100px!important; height: 43px!important;"></td>
                        <h2>Controle</h2><p>
                            <div class="counter segments" style="border-radius: 10px; background: #3f8ab58a!important;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col s3">
                                            <i class="fas fa-bars " style="color: #fff; font-size: 40px;"></i>
                                        </div>
                                        <div class="col s6">
                                            <h6 style="color: #fff;">Weather</h6>
                                            &
                                            <h6 style="color: #fff;">Localisation</h6>
                                        </div>
                                        <div class="col s3">
                                            <i class="fas fa-bell " style="color: #fff; font-size: 40px;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="counter segments" style="border-radius: 10px; background: #05050521!important; margin-top: 10px;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col s10">
                                            <div class="col s3">
                                                <img src="images/light.png" alt="">
                                                <i class="fas fa-power-off bg-green"></i> <i class="fas fa-power-off bg-red"></i>
                                                <small>Lampe</small>
                                            </div>
                                            <div class="col s3">
                                                <img src="images/moteur.png" alt="">
                                                <i class="fas fa-power-off bg-green"></i> <i class="fas fa-power-off bg-red"></i>
                                                <small>Moteur</small>
                                            </div>
                                            <div class="col s3" style="text-align: center;">
                                                <img src="images/ventilo.png" alt="">
                                                <i class="fas fa-power-off bg-green"></i> <i class="fas fa-power-off bg-red"></i>
                                                <small>Ventilateur</small>
                                            </div>
                                            <div class="col s3">
                                                <img src="images/pompe.jpg" alt="">
                                                <i class="fas fa-power-off bg-green"></i> <i class="fas fa-power-off bg-red"></i>
                                                <small>Pompe</small>
                                            </div>
                                        </div>

                                        <div class="col s2 right-indicator">
                                            <div class="row">
                                                <div class="col s6">
                                                    <img src="images/drop.png" alt="" style="min-width: 30px; min-height: 30px;">
                                                </div>
                                                <div class="col s6">
                                                    <i class="fas fa-check bg-green"></i>
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col s6">
                                                    <img src="images/thermometer.jpg" alt="" style="min-width: 30px; min-height: 30px;">
                                                </div>
                                                <div class="col s6">
                                                    <i class="fas fa-check bg-green"></i>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s6">
                                                    <img src="images/liquid-level.jpg" alt="" style="min-width: 30px; min-height: 30px;">
                                                </div>
                                                <div class="col s6">
                                                    <i class="fas fa-check bg-green"></i>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s6" style="padding: 0!important;">

                                                    <button class="button" style="padding: 6px 10px!important; margin-left: 36px!important; background: #4caf50; margin-top: 4px;" ng-click="utilitaire.loadPage('')">
                                                        Abmelden
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
        </div>
    </div>