    <style type="text/css">
        .fas{
            padding: 5%;
            border-radius: 50px;
            font-size: 185%;
        }
        small{color: #fff;}
        .right-indicator .row {
            margin-bottom: 10px;
        }
    </style>
    <div class="container">
        <div class="slide">
                <div class="content" style="height: 120%!important;">
                    <div class="mask-red" style="min-height: 110%;"></div>
                    <img src="images/" alt="">
                    <div class="slider-caption">
                        <h2>Parameter Erfassen</h2><p>
                        <div class="counter segments" style="border-radius: 10px; background: #3f8ab58a!important;; padding: 3px 0;">
                            <div class="container">
                                <div class="row">
                                    <div class="col s3">
                                        <i class="fas fa-bars " style="color: #fff; font-size: 40px;"></i>
                                    </div>
                                    <div class="col s6">
                                       <h6 style="color: #fff;">Wetter</h6>
                                        &
                                       <h6 style="color: #fff;">Standort</h6>
                                    </div>
                                    <div class="col s3">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="counter segments" style="border-radius: 10px; background: rgba(153, 155, 155,0.9)!important; margin-top: 10px;">
                            <div class="container">
                                <div class="wrap-form">
                                    <form>
                                        <input type="text" placeholder="Date">
                                        <input type="text" placeholder="Heure">
                                        
                                    </form>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <div id="line-area2" class="height-400 lineAreaDashboard">
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>