<style type="text/css">
    .fas {
        padding: 5px;
        border-radius: 50px;
        font-size: 15px;
    }

    h5 {
        color: #fff;
    }

    input[type="number"] {
        background: #FFFFFF !important;
        color: #000;
        text-align: center;
        border-bottom: 0 !important;
    }

    img {
        vertical-align: top !important;
        padding: 7px;
        margin-top: -8px !important;
        border-radius: 0 !important;
        /*border: 1px solid red!important;*/
    }
</style>
<div class="container">
    <div class="slide">
        <div class="content" style="height: 120%!important;">
            <div class="mask-red"></div>
            <div class="slider-caption">
                <h2>Abstand Einstellen</h2><p>
                                    <div class="counter segments" style="border-radius: 10px; background: #3f8ab58a!important;">
                                        <div class="row">
                                            <div class="col s4">
                                                <a href="#/menu" data-activates="slide-out" class="sidebar"><i class="fas fa-bars" style="font-size: 50px!important; color: #ffffff!important;"></i></a>
                                            </div>
                                            <div class="col s4">
                                                <div class="container">
                                                    <div class="row">
                                                        <h4 style="color: #fff;">Wetter</h4>
                                                        &
                                                        <h4 style="color: #fff;">Standort</h4>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col s4">
                                                <i class="fas fa-bell " style="color: #fff; font-size: 40px;"></i>
                                            </div>
                                        </div>
                                    </div>
                
                <br />
            <div class="counter segments" style="border-radius: 10px; background: #05050521!important" ;>
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <div class="container">
                                <form action="" method="">
                                    <div class="row" style="padding: 0!important;">
                                        <div class="col s12 col m6">
                                            
                                            <div class="row">
                                                <div class="col s12">
                                                    <input id="level" type="number" style="margin-top: 29px!important; " ; placeholder="Abstand">
                                              
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col s12 col m6">
                                            <div class="row">
                                                <div class="col s12">
                                                    <button class="button" ng-click="storeLevel()" style="">Bestätigen</button>
                                                </div>
                                                <div class="col s12">
                                                    <button class="button" ng-click="utilitaire.loadPage('')" style="">Abmeldung</button>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>