    <div class="container">
        <div class="slide">
                <div class="content">
                    <div class="mask-red"></div>
                    <div class="slider-caption">
                        <td><img src="images/htwBerlin.png" style="width: 100px!important; height: 43px!important;"></td>
                        <h2>Willkommen</h2><p>
                            <div class="counter segments" style="border-radius: 10px; background:rgba(39, 58, 57, 0.35)!important;">
                                <div class="container">
                                    <div class="row">
                                        <h4 style="color: #fff;">Wetter</h4>
                                        &
                                        <h4 style="color: #fff;">Standort</h4>
                                    </div>
                                </div>
                            </div>
                            <button class="button" style="padding: 3% 10%!important;" ng-click="utilitaire.loadPage('#/login')">Einloggen</button>
                    </div>
                    
                </div>
        </div>
    </div>