<style type="text/css">
    .fas{
        padding: 5px;
        border-radius: 50px;
        font-size: 15px;
    }
    h5{color: #fff;}

    input[type="text"] {
        background: #FFFFFF!important;
        text-align: center;
        border-bottom: 0!important;
    }
</style>
<div class="container">
    <div class="slide">
        <div class="content" style="height: 120%!important;">
            <div class="mask-red" style="min-height: 110%;"></div>
            <div class="slider-caption">
                <td><img src="images/htwBerlin.png" style="width: 100px!important; height: 43px!important;"></td> 
                <h2>Menu</h2>
                <div class="counter segments" style="border-radius: 10px; background: #3f8ab58a!important;">
                    <div class="row">
                        <div class="col s4">
                            <a href="#/menu" data-activates="slide-out" class="sidebar"><i class="fas fa-bars" style="font-size: 50px!important; color: #ffffff!important;"></i></a>
                        </div>
                        <div class="col s4">
                            <div class="container">
                                <div class="row">
                                    <h4 style="color: #fff;">Wetter</h4>
                                    &
                                    <h4 style="color: #fff;">Standort</h4>

                                </div>
                            </div>
                        </div>
                        <div class="col s4">
                            <i class="fas fa-bell " style="color: #fff; font-size: 40px;"></i>
                            
                        </div>


                 

                    </div>
                </div>
                <div class="counter segments" style="border-radius: 10px; background: transparent!important; margin-top: 10px;">
                    <div class="row">
                        <div class="col s12">
                            <div class="container">
                                <div class="row">
                                    <div>
                                              
                                                <button class="button" ng-click="utilitaire.loadPage('#/affichage-controle')" style="cursor: pointer">System Steuerung </button>
                                            
                                    </div>

                                    <div>

                                        <button class="button" ng-click="utilitaire.loadPage('#/display')" style="cursor: pointer">Visualisung /Regelung/InfluxDB-Werten</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


